header {
    flex-shrink: 0;
    background-color: white;
    color: white ;
    text-align: left;
    padding: 0px;
}

#navbar{
    color: #333;
    background-color: #EAEDF6;
    padding: 10px 20px;
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Lohit Bengali";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.logo a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #05B4FF;
    text-align: center;

    text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000; 
    
    font-family: "Lalezar";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;   
    padding-left: 15px;
}

#regisButton{
    width: 224.463px;
    height: 56px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #0266FC;
}

#textRegis a{
    color: #FFF;
    text-align: center;

    text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000; 

    font-family: "Lalezar";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.titulo_personasFondo{
    flex-shrink: 0;
    background: linear-gradient(121deg, #2F9BFF 1.09%, #1C5D99 129.57%);
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    z-index: 1;

    position: relative;   
}
.estrellas{
    z-index: 2;
    position: absolute;
    top: 70%;
    left: 46.9%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#Landigper1{
    
    width: 100%;
    position: relative;
    right: -50px;
    bottom: -5px;
}
#Landigper2{
    
    width: 100%;
    position: relative;
    left: -60px;
    top: -17px;
}

#tituloPer{
    width: 572.18px;
    color: #FFF;
    text-align: center !important;
    text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000; 
    font-family: "Nico Moji";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#beneficiosTitulo{
    color: #000;
    font-family: Laila;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0px 15px 3% 15px;
    padding-top: 7%;

}

#beneficios{

    display: flex;
    justify-content: center;
    padding-left: 0%;
}

.svg-beneficios-block{
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: -110px;
}
.svg-beneficios-block svg{
 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.beneficios-block{
    
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Categorias {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    padding: 0px 40px 0px 40px ;
    margin: 0px 70px 0px 70px;
    color: #000;
    text-align: center;
    font-family: "Marcellus SC";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 320px;
}

.txtCate{
    width: 196px !important;
    height: 102px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Lalezar;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    margin: 0px 0px 0px 0px;
}
#textcate3{
    margin-left: 0px !important;
}
#medidorLandig{
    width: 150px;
    margin-bottom: 17px;
}
#resume{
    width: 100px;
}
#ofertas{
    width: 145px;
}



main{
    flex-shrink: 0;
    background: #FFFEFE;
    margin-top: 5.5%;
}
#inicio{
    background-color: #FFFEFE;
}

body {
    margin: 0;
    padding: 0;

}
  
footer{
    background: #1C5D99;
    height: 397px;

}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}


#cuadros-seccion {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.imagen-cuadro {
    margin-bottom: 20px; /* Ajusta el valor del margen según sea necesario */
    display: block; /* Para que los márgenes automáticos funcionen correctamente */
    margin-left: auto;
    margin-right: auto;

  }
.texto-cuadro {
    border: 1px solid #D9D9D9; /* Define el borde del cuadro de texto */
    max-width: 394px; /* Establece la anchura máxima del cuadro */
    height: auto; /* Permite que la altura se ajuste automáticamente al contenido */
    text-align: center;
  }
.cuadro {
    width: 475px;
    height: 720px;
    background-color: #d9d9d9;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    font-family: "Laila";
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Corrige el error de escritura */
    align-items: center; /* Alinea verticalmente al centro */
  }
#TituCaso-exito{
    text-align: center;
    font-family: Laila;
}
.menu li{
    margin-right: 50px;
}
.menu a{
    text-decoration: none;
    color:#000000; 
}
#login{
    text-decoration: none;
    color:#000000; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Lohit Bengali";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    margin-left: 100%;
   
}


/* Video_Explicacion*/

.layout{
    display: flex;
    width: 1086px;
    height: 107px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    
} 

.titulo{
    color: #000;
    text-align: center;
    font-family: "League Spartan";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtitulo{
    color: #000;
    text-align: center;
    font-family: "League Spartan";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.video{
    flex-shrink: 0;
    text-align: center;
}
/**/


/*precios*/
.main_precios_seccion{
    margin-top: 50px;
    margin-bottom: 50px;
}

.group_precios{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.seccion_precios{

    width: 370px;
    height: 502px;
    flex-shrink: 0;
    border: 1px solid #CBCBCB;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.imagen_precios{
    width: 309px;
    height: 208px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: block;
    margin-left: 30px;
    margin-top: 29px;
    margin-right: 30px;
}

.line_{
    width: 310px;
    height: 1px;
    background: #A4A4A4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
}

.informacion_precios{
    width: 310px;
    height: 120px;
    flex-shrink: 0;
    margin-left: 30px;
}

.tipografia_texto{
    color: #000;
    font-family: "League Spartan";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px; /*interlineado*/

}

.btn_plan{
    width: 227px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #DFDFDF;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 71px;

}
/*FIn de precios*/